<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FLASK FRONTEND</h1>
    <p>uy furry</p>
    <form action="/" method="post">
        <label>ENTER HEIGHT</label><br><br>
        <input type="number" name="height" placeholder="ENTER THE HEIGHT">
        <input type="submit">
    </form>
    <h2>ENTERD HEIGHT IS {{hei}}</h2>
    <h3>WEIGHT MUST BE AROUND {{wei}}</h3>
</body>
</html>